@model IEnumerable<Loan>

@{
    ViewData["Title"] = "Loans";
}
<div id="bg" style="height:100vh;">
    <div class="container text-light">
        <h1>Loans</h1>
        @if (Model != null)
        {
            <table class="table text-light">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.amount)*@
                            Amount
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.payDate)*@
                            Pay Date
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.paid)*@
                            Paid
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paid)
                            </td>
                            @*<th>
                                    @if (!item.paid)
                                    {
                                        <a asp-controller="Payment" asp-action="Index" asp-route-id="@item.id">PAY NOW</a>
                                    }
                                </th>*@
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No loans</p>
        }
    </div>
</div>
